/* You can add global styles to this file, and also import other style files */
h1{
    font-size: 60px;
}

label{
    margin-right: 30px;
}

#rechts{
    margin-left: 80px;
    margin-top: -45px;
}

.active{
    font-size: 30px;
}