<!--The content below is only a placeholder and can be replaced.-->
<h1>
  NASA - Mars rover photo selector
</h1>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/home']" [routerLinkActive]="['active']">
        Home
      </a>

      <a class="navbar-item" [routerLink]="['/nasa']" [routerLinkActive]="['active']">
        Nasa
      </a>

      <a class="navbar-item" [routerLink]="['/selection']" [routerLinkActive]="['active']">
        Selection
      </a>
    </div>
  </div>
</nav>

